.box1{
        width : 250px;
        height : 600px;
        border : 2px solid black;
        border-radius : 20px;
        margin-bottom : 20px;
        background-color : black;
        margin-left:50px
      }
.circle1{
        border : 2px solid white;
        height : 100px;
        width : 100px;
        border-radius : 100px;
        margin : 68px;
        background-color:grey;
      }
.circle1:hover{
  background-color:red;
  
}
.circle2{
        border : 2px solid white;
        height : 100px;
        width : 100px;
        border-radius : 100px;
        margin : 68px;
        background-color:grey;
      }
.circle2:hover{
  background-color:yellow;
}
.circle3{
        border : 2px solid white;
        height : 100px;
        width : 100px;
        border-radius : 100px;
        margin : 68px;
        background-color:grey;
      }
.circle3:hover{
  background-color:green;
}
.Pole{
        border : 2px solid grey;
        height: 300px;
        width: 50px;
        margin-left:95px;
        background-color:grey;
      }